# EditorConfig is awesome: http://EditorConfig.org

root = true

[*]
end_of_line = lf
insert_final_newline = true

[lib/**.php]
indent_style = space
indent_size = 4

[src/**.js]
indent_style = tab
indent_size = 2

[src/**.vue]
indent_style = tab
indent_size = 2

[css/**.css]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab
